.start, .stop, .reset{
    display: inline;
    border:solid 1px black;
    border-radius: 5px;
    padding: 15px;
    background-color: #C0C0C0;
}

.clock {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
